.personas{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.persona{
    display: flex;
    flex-direction: column;
}

.persona__imagen{
    height: 250px;
    width: 250px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:100%
}

.persona__imagen--roberta{
    background-image: url(../../img/personas/roberta.jpg);
}

.persona__imagen--marcela{
    background-image: url(../../img/personas/marcela.jpg);
}

.persona__imagen--andreia{
    background-image: url(../../img/personas/andrea.jpg);
}

.persona__nombre{
    font-family: pacifico,cursive;
    font-size: 2rem;
    color:#DA2B1F;
    margin: 1rem 0;
}

.persona__funcion{
    color:#595959;
    font-size: 1.25rem;
    text-transform: lowercase;
}

@media screen and (min-width:0) {
    .personas{
        flex-direction: column;
    }
    .persona {
        margin-bottom: 3rem;
    }
    
}

@media screen and (min-width:768px) {
    .personas{
        flex-direction: row;
    }
    .persona {
        margin-bottom: 0;
    }
}